{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="row title-text">
    <h1 style="display:inline">Tag: {{ tag.name }}</h1>
</div>

{% for question in questions_by_tag %}

{% include 'components/question-item.html' %}

{% endfor %}

<div class="page-navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>
{% endblock %}